.coverage*
.installed.cfg
.mr.developer.cfg
local.cfg
bin
develop-eggs
eggs
include
lib
local
parts
packages
src
var
downloads
jenkins.plone.org.auth.cfg
*.bak
/docs/build
.idea
*~
*.pyc
*.pyo
dist/*
build/*
*.egg-info/*
.semantic.cache
.DS_Store
TAGS
.DS_Store
.svn